body{
    background-color: aquamarine;
}
#parte1{
    background-color: rgba(57, 25, 145, 0.905);
    display: flex;
    flex-direction: row;
    margin-bottom: -45px;
    width: 100%;
    border-radius: 5px;
}
h1{
    color: pink;
    padding: 50px;
    font-size: 60px;
}
#parte2{
    background-color: rgba(10, 72, 10, 0.878);
    text-align: center;
    width: 100%;
    border-radius: 5px;
}
input{
    padding: 7px;
    border-radius: 10px;
}
#botao1{
    background-color: brown;
    padding: 15px;
    color: aliceblue;
}
#botao2{
    background-color: blue;
    padding: 15px;
    color: aliceblue;
    margin-bottom: 10px;
}